h1 {
	background-color: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	width: 210px;
	height: 76px;
	text-align: center;
	position: relative;
	left: 10%;
	top: 0px;
	margin-top: 0px;
	padding-top: 0px;
	float: left;
	z-index: 3;
}

#links {
	color: #777777;
	background-color: #ffffff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	height: 76px;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	text-align: right;
	position: relative;
	top: -76px;
	line-height: 76px;
	vertical-align: middle;
	float: left;
	z-index: 2;
	margin-top: 0px;
	padding-top: 0px;
}

.top-bar {
	width: 100%;
	min-width: 960px;
	height: 76px;
	background-color: #ffffff;
	z-index: -2;
	position: relative;
	top: -18px;
	border-bottom: 2px solid #cccccc;

}

body, header, h1, #links {
	margin: 0;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	padding: 0px 0px 25px 0px;
	width: 96%;
	border-bottom: 2px solid #cccccc;
	margin: 25px 2% 25px 2%;
}

#octo {
	width: 96%;
	margin: 0px 2% 8px 2%;
}

.about {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	padding: 0px 30px 30px 30px;
	line-height: 30px;
}

.medium-container {
	background-color: #ffffff;
	margin-top: 35px;
	border: 2px solid #cccccc;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 20px;
	padding: 0px;
}

.small-container {
	background-color: #ffffff;
	border: 2px solid #cccccc;
	margin: 35px 5% 0 5%;
	padding: 0px;
	width: 90%;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	padding: 0px 0px 25px 0px;
	border-bottom: 2px solid #cccccc;
	margin: 25px 25px 25px 25px;
}

.contact-images {
	width: 54px;
}

.connect {
	margin: 0px 25px 25px 25px;
}

#footer-pusher {
	height: 50px;
}

footer {
	clear: both;
	width: 100%;
	height: 76px;
	background-color: #666666;
	border-top: 4px solid #4aaaa5;
	color: #cccccc;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 76px;
	vertical-align: middle;
	text-align: center;
	margin-top: 10px;
}

#form {
	padding: 0px 30px 30px 30px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	line-height: 30px;
}

input[type=text] {
	height: 20px;
	width: 96%;
}

textarea[type=text] {
	height: 200px;
	width: 96%;
}

input[type=submit] {
	height: 25px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #4aaaa5;
	color: white;
	font-size: 15px;
	width: 75px;
}

#edm {
	margin-right: 2%;
	margin-left: 2%;
	width: 96%;
}

#hangman {
	float: left;
	z-index: 3;
	width: 96%;
	margin-right: 2%;
	margin-left: 2%;
	height: 35px;
	background-color: #4aaaa5;
	color: #ffffff;
	line-height: 35px;
	vertical-align: middle;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
	bottom: 100px;
}

#bike {
	width: 96%;
	margin-right: 2%;
	margin-left: 2%;
}

#rpg {
	float: left;
	z-index: 3;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	height: 35px;
	background-color: #4aaaa5;
	color: #ffffff;
	line-height: 35px;
	vertical-align: middle;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
	bottom: 100px;
}

#giraffe {
	width: 96%;
	margin-right: 2%;
	margin-left: 2%;
}

#trivia {
	float: left;
	z-index: 3;
	width: 96%;
	margin-right: 2%;
	margin-left: 2%;
	height: 35px;
	background-color: #4aaaa5;
	color: #ffffff;
	line-height: 35px;
	vertical-align: middle;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
	bottom: 100px;
}

#train {
	width: 96%;
	margin-right: 2%;
	margin-left: 2%;	
}

#rutgers {
	float: left;
	z-index: 3;
	width: 96%;
	margin-right: 2%;
	margin-left: 2%;
	height: 35px;
	background-color: #4aaaa5;
	color: #ffffff;
	line-height: 35px;
	vertical-align: middle;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
	bottom: 100px;
}

#window {
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
}

#rps {
	float: left;
	z-index: 3;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	height: 35px;
	background-color: #4aaaa5;
	color: #ffffff;
	line-height: 35px;
	vertical-align: middle;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
	bottom: 100px;
}

a {
	color: #777777;
	text-decoration: none;
}